<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=jeeten_dbSmartStudy;User ID=jeeten_smartstudy;Password=Jnny_2909" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPHost" value="mail.smart-study.in" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPFromEmail" value="info@smart-study.in" />
    <add key="SMTPFromName" value="Smart Study" />
    <add key="SMTPUserName" value="info@smart-study.in" />
    <add key="SMTPPassword" value="Jnny_2909" />
    <add key="ChartImageHandler" value="storage=file;timeout=360;Url=~/images/TempImageFiles/;deleteAfterServicing=false;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <machineKey validationKey="FFA9607A30DE1AE0AADC5F1764B6CC7C3BFAD841B678913EB107422587E3CEA75AC621C5AF90D858E48CB747C054841337C9086A6B924C7E56A742D21495B7AF" decryptionKey="2CB877CD897E657D400CEF4C47298E44A55F5E3A82739421E9D1697BB2408306" validation="SHA1" decryption="AES" />
    <sessionState mode="StateServer" cookieless="false" timeout="10000" />
    <httpRuntime maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="400" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\bad_request.html" />
            <error statusCode="407" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\proxy_authentication_required.html" />
            <error statusCode="414" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\request-uri_too_long.html" />
            <error statusCode="415" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\unsupported_media_type.html" />
            <error statusCode="503" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="D:\Inetpub\vhosts\jeetenparmar.me\error_docs\bad_gateway.html" />
        </httpErrors>
  </system.webServer>
</configuration>